.resizer {
    display: inline-block;
    /* background: black; */
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    /* prevents from scrolling while dragging on touch devices */
    touch-action: none;
}

.resizer.isResizing {
    background: black;
}